[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/marllonsc
[access "refs/for/refs/*"]
	read = group user/marllonsc
	push = group user/marllonsc
	label-Code-Review = -2..+2 group user/marllonsc
	label-Verified = -1..+1 group user/marllonsc
	rebase = group user/marllonsc
	removeReviewer = group user/marllonsc
	submit = group user/marllonsc
[access "refs/heads/*"]
	read = group user/marllonsc
	create = group user/marllonsc
	push = +force group user/marllonsc
	pushMerge = group user/marllonsc
[access "refs/tags/*"]
	push = group user/marllonsc
	push = +force group user/marllonsc
